<div class="submit-form">
    <form>
        <h3>Add a Link</h3>
        <div class="field">
            <label for="title">Title:</label><br>
            <input class="input-field" name="title">
        </div>
        <div class="field">
            <label for="link">Link:</label><br>
            <input class="input-field" name="link">
        </div>
        <div class="field-right">
            <button class="normal-btn grey" (click)="addArticle(newtitle, newlink)">Submit</button>
        </div>
    </form>
</div>
