.article {
    margin-top:60px;
    padding-left: 15%;
    padding-right: 15%;
}
a {
    cursor: pointer;
    color: black;
}
.content {
    color: grey;
}
.bottom {
    color: grey;
}
hr {
    border: 0.5px dashed grey;
}