<div class="article">
    <div class="title">
        <h2><a>只想和老婆睡觉</a></h2>
    </div>
    <div class="content">
        <p>我老婆是一个身材特好，长的特好看的女生，每天都只想和她睡觉......</p>
    </div>
    <div class="bottom">今天发布  |  评论（0）  |  喜欢（0）</div>
    <hr>
    <div class="title">
            <h2><a>只想和老婆睡觉</a></h2>
    </div>
    <div class="content">
        <p>我老婆是一个身材特好，长的特好看的女生，每天都只想和她睡觉......</p>
    </div>
    <div class="bottom">今天发布  |  评论（0）  |  喜欢（0）</div>
    <hr>
    <div class="title">
            <h2><a>只想和老婆睡觉</a></h2>
    </div>
    <div class="content">
        <p>我老婆是一个身材特好，长的特好看的女生，每天都只想和她睡觉......</p>
    </div>
    <div class="bottom">今天发布  |  评论（0）  |  喜欢（0）</div>
    <hr>
    <div class="title">
            <h2><a>只想和老婆睡觉</a></h2>
    </div>
    <div class="content">
        <p>我老婆是一个身材特好，长的特好看的女生，每天都只想和她睡觉......</p>
    </div>
    <div class="bottom">今天发布  |  评论（0）  |  喜欢（0）</div>
    <hr>
    <div class="title">
            <h2><a>只想和老婆睡觉</a></h2>
    </div>
    <div class="content">
        <p>我老婆是一个身材特好，长的特好看的女生，每天都只想和她睡觉......</p>
    </div>
    <div class="bottom">今天发布  |  评论（0）  |  喜欢（0）</div>
    <hr>
</div>
